<ion-header>
    <ion-navbar>
        <ion-title>Working</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div text-center padding [hidden]="!isLoading">
        <ion-spinner></ion-spinner>
    </div>

    <!--<ion-grid [hidden]="isLoading">
        <ion-row>
            <ion-scroll scrollX="true" scrollY="false" style="height:100px;">
                    <ion-col col-sm-4 *ngFor="let img of listIMG">
                        <div class="card card-1" (click)="imgClicked(img)">
                            <img src="{{img.src}}">
                            <p style="font-size: 9px">{{img.title}}</p>
                        </div>
                    </ion-col>
            </ion-scroll>
        </ion-row>
    </ion-grid>-->

    <ion-item>
        <ion-scroll scrollX="true" scrollY="true" style="height:100px;">
            <ion-col col-sm-4 *ngFor="let img of listIMG" style="height:100px;">
                <div class="card_temp" (click)="imgClicked(img)">
                    <img src="{{img.src}}">
                    <p style="font-size: 9px">{{img.title}}</p>
                </div>
            </ion-col>
        </ion-scroll>
    </ion-item>
</ion-content>
