<ion-header>
    <ion-navbar>
        <ion-title>Widgets</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card *ngFor="let wid of widgets">

        <!-- Headers -->
        <ion-card-header *ngIf="wid.textHeader">
            {{wid.widget.headerText}}
        </ion-card-header>
        <ion-card-header *ngIf="wid.htmlHeader">
            <div [innerHTML]="wid.widget.headerHTML"></div>
        </ion-card-header>

        <!-- Content -->
        <ion-card-content *ngIf="wid.textHeader">
            {{wid.widget.contentText}}
        </ion-card-content>
        <ion-card-content *ngIf="wid.htmlContent">
            <div [innerHTML]="wid.widget.contentHTML"></div>
        </ion-card-content>

    </ion-card>

</ion-content>
