<ion-header>
    <ion-navbar>
        <ion-title>Happy Monitoring Analyzer</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="reload()" *ngIf="!isLoading"><ion-icon name="refresh"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-padding>
    <div text-center padding [hidden]="!isLoading">
        <ion-spinner></ion-spinner>
    </div>

    <ion-list [hidden]="isLoading" no-padding>
        <!-- Status card -->
        <ion-card color="{{statusColor}}" no-padding no-margin style="width: 100%" (click)="speakSummary()">
            <ion-card-header>
                Status: {{statusLevel}}
            </ion-card-header>
            <ion-card-content no-padding>
                <ion-item color="{{statusColor}}" text-wrap>
                    <ion-thumbnail item-start>
                        <img src="{{statusImg}}">
                    </ion-thumbnail>
                    <h2>{{statusText}}</h2>
                </ion-item>
            </ion-card-content>
        </ion-card>

        <!-- Viewer chooser -->
        <ion-item no-padding>
            <ion-label>Viewer:</ion-label>
            <ion-select (ionChange)="viewerChanged($event)" interface="action-sheet" style="max-width: 81% !important;">
                <ion-option *ngFor="let v of viewers" [selected]="v.id === 'overall_pathway'" [value]="v">{{v.name}}</ion-option>
            </ion-select>
        </ion-item>

        <!-- Single Plots, i.e. pictures -->
        <ion-item [hidden]="selectedViewer.multiplots">
            <img src="{{selectedViewer.spsrc}}"/>
        </ion-item>

        <!-- Multi Plots -->
        <ion-item *ngFor="let monitoringURL of monitoringURLs" no-padding no-margin text-wrap [hidden]="!selectedViewer.multiplots">
            <ion-card no-padding no-margin>
                <ion-card-header class="group-title">{{monitoringURL.name}}</ion-card-header>
                <ion-card-content no-padding>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6 col-sm no-padding *ngFor="let url of monitoringURL.urls">
                                <div class="launchpad">
                                    <div class="logo"><img src="{{url.analysis_plot}}" alt="Not Analyzed" (click)="openPage(url)"/></div>
                                    <a href="{{url.link}}" target="_blank"><div class="caption">{{url.name}}</div></a>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-item>

    </ion-list>
</ion-content>
