.scroll-content {
    padding-left: 0;
    padding-right: 0;
}

.ssh-button {
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    font-style: italic;
}
