<ion-header>
    <ion-navbar>
        <ion-title>Logs Viewer</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="reload()" *ngIf="!isLoading"><ion-icon name="refresh"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item no-padding>
        <ion-label>Log:</ion-label>
        <ion-select (ionChange)="logSelected($event)" interface="action-sheet" style="max-width: 85% !important;">
            <ion-option *ngFor="let l of logs" [selected]="l == selectedLog" [value]="l">{{l.name}}</ion-option>
        </ion-select>
    </ion-item>

    <div text-center padding [hidden]="!isLoading">
        <ion-spinner></ion-spinner>
    </div>

    <div no-padding text-wrap [hidden]="isLoading">
        <br/>
        {{logText}}
    </div>
</ion-content>
