<ion-header>
    <ion-navbar>
        <ion-title>
            {{category.title}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="reload()" *ngIf="false"><ion-icon name="refresh"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div text-center padding *ngIf="isLoading">
        <ion-spinner></ion-spinner>
    </div>

    <div class="complete-overlay" padding *ngIf="outdated && !isLoading">
        <h1 class="outdated">Outdated</h1>
    </div>

    <div class="no-modules" *ngIf="!modulesExisting"> No modules contained</div>

    <ion-list *ngIf="modulesExisting">
        <ng-container *ngFor="let module of category.module">
            <ion-item *ngIf="module.title" (click)="moduleSelected(module)" style="padding: 0 !important">
                <ion-thumbnail item-start style="min-width: 30px; min-height: 30px; width: 30px; height: 30px;">
                    <img src="{{imgForModule(module)}}" style="width: 30px; height: 30px"/>
                </ion-thumbnail>
                <span padding-left text-wrap style="font-size: 20px" item-end>{{module.title}}</span>
                <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
            </ion-item>
        </ng-container>
    </ion-list>
</ion-content>
